@import "utils/variables";
@import "utils/mixins";
@import "base/reset";
@import "base/typography";

.reportLogo {
  width: 210px;
  height: 35px;
  @include mq('desktop-xwide') {
    width: 498px;
    height: 57px;
  }
}

.card {
  width: 400px;
  margin: 0 auto;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.card input {
  border-radius: 23px;
  background: ghostwhite;
  border: 2px solid lightsteelblue;
}
main {
  h2 {
    margin-top: get-vw(85);
  }
  h3 {
    margin-top: get-vw(25);
    margin-bottom: get-vw(20);
    margin-right: get-vw(23);
  }
  .col-md-6 {
    padding: 0 20px;
  }
  section {
    margin-top: 85px;
    @include mq('phone') {
      margin-top: 35px;
    }
  }
  .label-top {
    color: #f22736;
    font-size: clamp(16px, 30/2480*100vw, 30px);
    text-align: center;
    transform: translateY(-9px);
  }
  .label-bottom {
    color: #f22736;
    font-size: clamp(16px, 30/2480*100vw, 30px);
    text-align: center;
    transform: translateY(9px);
  }
  .link-style {
    font-family: Poppins;
    font-weight: 500;
    line-height: 1.23;
    color: #3384af;
    &:hover {
      color: #0f4968;
      text-decoration: underline;
      transition: all .2s ease-in-out;
    }
    @include mq('desktop-xwide') {
      font-size: 28px;
    }
  }
}

footer {
  margin-top: get-vw(100);
  .logo {
    width: 123px;
    height: 35px;
    @include mq('desktop-xwide') {
      width: 184px;
      height: 55px;
    }
  }
  .logo-text {
    margin-right: get-vw(18);
    color: #09095b;
    font-size: clamp(10px, 16 / 2480 * 100vw, 16px);
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: right;
  }
}

