// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

body {
  margin: 0;
  padding: 264px 250px;
  width: 100vw;
  background-color: $white;
  color: black;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Poppins', 'Open Sans';
  @include mq("phone-xsmall", max) {
    padding: 20px;
  }
  @include mq("phone-xsmall") {
    padding: 80px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

.container {
  margin: 0 auto;
  padding: 0;
  @include mq("desktop-wide") {
    max-width: 1340px;
  }
}

a,
button,
.btn {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

scroll {
  width: 100vw;
  height: 100vh;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins';
}
p,
span {
  font-family: 'Open Sans';
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
a {
  font-family: 'Poppins';
}
